@font-face{
    font-family:"Comic Sans MS";
    src:url('ComicSans.ttf');
}


*{
    margin:0;
    padding:0;
}

body{
    background: #00740d;

}

article{
    /*width: 30%;*/
    margin:15% auto;
    text-align: center;
    font-family: "Comic Sans MS";
}

h1{
    font-size: 500%;
}

a{
    font-size:300%;
    text-decoration: none;
    color: red;
}

a:hover{
    color: blue;
}

