<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache">

    <title>Роллы</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <nav>

        <div class="navigation">
            <a href="{{url_for('index')}}"><div><h3>Меню</h3></div></a>
            <div><h3>Доставка</h3></div>
            <div><h3>Контакты</h3></div>
            <a href="{{url_for('login')}}"><div><h3>Личный кабинет</h3></div></a>
        </div>

    </nav>

    <article>



    </article>

</body>
</html>